
<h1 style="text-align:center">Meal Planner</h1>
<br />
<h4><a href="/Recipe/Index">Search for recipes</a></h4>
<h4><a href="/Menu/Index">Plan your menu</a></h4>
<h4><a href="/Nutrition/Index">Check nutrition informtion</a></h4>