
<h1 style="text-align:center;color:darkcyan">Meal Planner</h1>
<br />
<h3>Welcome</h3>
<p>Meal Planner lets you find and plan out your meals for each day.  Use our recipe finder to find the perfect recipe
    for your next meal.  Once you have found the perfect recipe, save it to your favorites so you can come back to it
    at any time.  Next, plan your meals for each day.  Our meal planner lets you enter in the item, quantity and calorie
    count.  Then the total calories for each day is displayed, taking the guess work out of trying to remember everything
    you ate and the related calories.  Not sure how many calories is in a food item?  Simply use our nutrition look up to find 
    and display the calories for that food.</p>

<br />
<h3>Recipe Search</h3>
<p>Tired of the same meals every week?  Use our recipe finder to find some new recipes.  It is simple to use, all you 
    have to do is enter in a key word and many scrumptious recipes will be returned. Make sure to remember to save the
    recipes that interest your taste buds to your favorites list.<br />
    <button onclick="document.location='/Recipe/Index'">Get Recipes</button>
    <div style="text-align:center"><img src="~/Images/salad.jpg" style="width:200px"/> </div></p>
<br />
<h3>Plan Your Menu</h3>
<p>
    After you have found the perfect recipes, it is time to start plannning your menu.  You can plan your menu for as
    many days in the future as you would like.  Items can easily be updated or removed, if changes need to be made. Start
    planning your new healthy lifestyle now!<br />
    <button onclick="document.location='/Menu/Index'">Plan Your Menu</button>
   <div style="text-align:center"> <img src="~/Images/meal.jpeg" style="width:200px"/></div>
</p>
<br />
<h3>Check Nutrition Information</h3>
<p>Do you need to check the calorie information of a food item?  Using our nutrition information search, not only can
    you find out the calorie infomration for a specific food, but you can find out other important information as well
    such as fat, sodium, etc.  Make sure what you are eating is truly healthy!<br />
   <button onclick="document.location='/Nutrition/Index'">Nutrition Information</button>
   <div style="text-align:center"><img src="~/Images/nutritionfacts.jpg" style="width:200px"/></div></p>
