<html> 
<head>
    <style>
        * {
            box-sizing: border-box;
        }

        .row {
            display: flex;
        }

        .column {
            flex: 50%;
            padding: 10px;
         
        }
    </style>
</head>
<body>
<h1 style="text-align:center;color:darkcyan">Recipe Search</h1>
<br />
    <div class="row">
        <div class="column">
<h3>Use the form to search for recipes, simply enter in the main ingredient that you wish to search for.
    Once you find recipes that you love, save them to your favorites.</h3>
<br />
<form action="/Recipe/RecipeList" method="post">
    <label for="ingredient">Main Ingredient:</label><br />
    <input type="text" id="ingredient" name="ingredient" placeholder="Ingredient" /><br /><br />
    <input type="submit" value="Submit" />
</form>
            </div>
        <div class="column">
<br />
<img src="~/Images/recipe2.jpg" />
            </div>
        </div>
    </body>

</html> 