<h1 style="text-align:center">Recipe Search</h1>
<br />
<h4>Use the form to search for recipes.  Once you find recipes that you love, save them to your favorites.</h4>
<br />
<form action="/Recipe/RecipeList" method="post">
    <label for="ingredient">Main Ingredient:</label><br />
    <input type="text" id="ingredient" name="ingredient" placeholder="Ingredient" /><br />
    <input type="submit" value="Submit" />
</form>