@using MealPlanner.Models;
@model Recipe

<h1 style="text-align:center;color:darkcyan">Recipes</h1>
<br />
<ol>
    @if (Model.meals != null)
    {
    
        @foreach (var r in Model.meals)
        {
         
                <li><div><a href="/Recipe/Details?id=@r.idMeal">@r.strMeal<a/></div><div style="text-align:center"><img src="@r.strMealThumb" style="width:30%" /></div></li>
                                       
          
        }
        }
        else
        {
            <h5>No recipes match the search criteria.  Try again.</h5>
         
        }
