<h1 style="text-align:center">Menu Planner</h1>
<br />
<p>Using the menu planner tool, you can plan your daily menu and save it.  You can also look up calorie information
    for foods to help you stay within your dietary recommendations.</p>

