<h1 style="text-align:center">Nutrition Search</h1>
<br />
<form action="/Nutrition/GetFoods" method="post">
    <label for="food">Enter a food</label><br />
    <input type="text" id="food" name="food" placeholder="Food Item" /><br />
    <input type="submit" value="Submit" />
</form>